<div class="product-container">
    <div class="product-wrapper">
        <div class="product-images">
            <div class="displayed-image">
                <img id="prodimgcurrent" data-imageshopifyid="{{ product.images.first.id }}" src="{{ product.images.first | image_url: width: 400 }}" />
                {{ 'productitem-imageswap.js' | asset_url | script_tag }}
            </div>
            <div class="imgselector">
                {% for image in product.images %}
                    <div class="imgbutton">
                        <img class="prodimgthumb" data-imageshopifyid="{{ image.id }}" src="{{ image | image_url: width: 35 }}"  onclick="changeImage(this)" data-image="{{ image | image_url: width: 400 }}"/>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="product-details">
            <p class="product-Subheader">{{ collection.metafields.subhead.subheader.value }}</p>    
            <div class="prod-details-wrapper">
                <div class="prod-details">
                    <div class="prod-title">
                        <a class="product_link" href="{{ product.url }}">    
                            <h3>{{ product.title }}</h3>
                        </a>
                    </div>    
                    <div class="prod-price-rating">
                        <p><span>{% render 'product-rating.liquid', product: product %}</span><span style="padding-left: 5px;"> EUR {{ product.price | money }}</span><p>
                    </div>
                    <div class="prod-shipment">
                        <div class="shipping-details">
                            {% assign prodspecs = product.metafields.specs %}
                            <p class="regularprice">Regular Price: <span>{{ prodspecs.regularprice.value | money }}</span></p>
                            <p class="shippingfee"><span>Shipping: </span>
                                {% if prodspecs.shippingfee.value == 0 %}
                                   <span>FREE</span> 
                                {% else %}
                                    <span>{{ prodspecs.shippingfee.value }}</span>
                                {% endif %}
                            </p>
                            <p class="shippingtime">{{ prodspecs.shippingtime.value }}</p>
                        </div>
                        <div class="prod-to-cart">
                            {% form 'product', product %}
                                <button type="submit">Add to Cart</button>
                            {% endform %}
                        </div>
                    </div>
                </div>
                <div class="prod-comments-wrapper">
                    {{ 'feedbackcommentslider.js' | asset_url | script_tag }}
                    <div id="commentcontainer">
                       <div id="commentwrapper" style="width: calc(100% * {{ product.metafields.specs.feedback.value | size }});">
                            {% for feedbackItem in product.metafields.specs.feedback.value %}
                                <div class="comment">
                                    <p>{{ feedbackItem }}</p>
                                </div>
                            {% endfor %}
                       </div>
                    </div>
                    <div class="author-slidebtns">
                        <div id="authors">
                            <div id="commentauthorcontainer">
                                <div id="commentauthorwrapper" style="width: calc(100% * {{ product.metafields.specs.feedbackauthor.value | size }});">
                                    {% for fbauthor in product.metafields.specs.feedbackauthor.value %}
                                        <div class="commentauthor">
                                            <div class="authorimg"></div>
                                            <p>{{ fbauthor }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="slidebtns">
                            <div id="cmntslideleft" class="disabledarrow">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                            <div id="cmntslideright">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>