{{ 'collection.css' | asset_url | stylesheet_tag }}
<div class="mainwrapper">
  <main>
    <div class="sale50off">{{ '50_off_sale.jpg' | asset_url | img_tag }}</div>
    <div class="collheadwrapper">
      <div class="collheader">
        <div class="titletext">
          <p>We have {{ collection.products | size }} items that fits your</p>
          <h3>{{ collection.metafields.subhead.subheader.value }}</h3>
        </div>
        <div class="backtosearch">
          <a href="/">← Back to search</a>
        </div>
      </div>
    </div>
    <div class="maincontainer">
      {% paginate collection.products by 5 %}
        {% for product in collection.products %}
          {% render 'product-item', product: product %}
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </main>
</div>