{{ 'index.css' | asset_url | stylesheet_tag }}
<div class="mainwrapper">
  <div class="bghomepage">
    <div class="company-info">
      <div class="company-details">
        <ul class="details-list">
          <li class="c-details-item">
            <h2 class="details-title">The Cover That Cares. Feel The Difference.</h2>
          </li>
          <li class="c-details-item">
            <span class="details-subtitle">400,000 Verified Customers. Established in 2005, 95K+ Reviews.</span>
          </li>
        </ul>
      </div>
      <div class="company-number">
        <a
          href="tel:800-915-0038"
          class="orangebtn callbtn"
          tabindex="0">Call Now 800-915-0038</a>
      </div>
    </div>
    <div class="bgoverlay"></div>
  </div>
  <main>
    <div id="promotionlist" class="promotion_list"></div>
    {% assign pageobject = pages['home-page'].metafields.pageobject.pageJSONobject %}
    <script>
      var pageObject = JSON.parse('{{ pageobject }}');
      var promotionlist = $("#promotionlist");
      var htmlForPromoList = '';
      var imageLinks = {
        "medal": "{{ 'medal.svg' | asset_url }}",
        "piggybank": "{{ 'piggybank.svg' | asset_url }}",
        "snugfit": "{{ 'snugfit.svg' | asset_url }}",
        "umbrella": "{{ 'umbrella.svg' | asset_url }}"
      };

      pageObject[0].elements.forEach((element) => {
        htmlForPromoList += '<div class="promoelement_wrapper"><div class="promelement_icon"><img src="' + imageLinks[element.icon] + '" /></div>';
        htmlForPromoList += '<div class="promelement_text"><h4>' + element.title + '</h4><p>' + element.subtitle + '</p></div></div>'
      });
      promotionlist.html(htmlForPromoList);
    </script>

    <div class="collectionbg">
      <div class="collection_shop">
        <div class="collectiontextcontainer">
          <h2>Guaranteed Fit Covers</h2>
          <p>Love your boat or car? Throw away that cheap tarp and give your pride and joy the protection it deserves. 
            Select the perfect cover for your vehicle.</p>
        </div>
        <div class="shopbtncontainer">
          <a class="orangebtn shopbtn" href="/">Shop Now</a>
        </div>
      </div>
      <div class="allcollcontainer">
        <div class="allcollwrapper">
          <div class="allcollections">
            {% for collection in collections %}
              {% if collection.title != "All Products" %}
                {% assign collproduct = collection.products | first %}
                <div class="collcontainer">
                  <div class="collwrapper" style="height: 462.312px;">
                    <div class="collection">
                      <div class="collectionimage">
                        <a href="{{ collection.url }}">
                          <img src="{{ collproduct.featured_image | image_url: width: 250 }}" />
                        </a>
                      </div>
                      <div class="collectiontitle">
                        <a href="{{ collection.url }}">
                          <h5 class="colltitle">{{ collproduct.title }}</h5>
                        </a>
                      </div>
                      <div class="collectiondetails">
                        <div class="collprodrating">
                          {% render "product-rating", product: collproduct %}
                        </div>
                        <div class="collprodprice">
                          <p class="pricetext">
                            <b>{{ collproduct.price | money }}</b>
                          </p>
                        </div>
                      </div>
                      <div class="collectionlink">
                        <a class="orangebtn collbtn" href="{{ collection.url }}">
                          {{ collection.title }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="collectionbgoverlay"></div>
    </div>

  </main>
</div>